// ---------------------------------
// HEADER
// ---------------------------------

.menu-container {
    display: flex;
    justify-content: flex-end;
    width: 1280px;
    margin: 0 auto;
    //position: fixed;
}

nav {
  z-index: 100;
  position: fixed;
  display: flex;
  .ico-menu {
    margin-top: 0.5rem;
    width: 75%;
  }
    .menu-item {
      display: inline-block !important;
        a {
          display: inline !important;
          padding-top: 1rem;
          color: white;
          padding: 0 0 0.3rem 0 !important;
          margin: 1rem;
          border-bottom: 3px solid transparent;
          transition-duration: 1s;
          &:hover{
            border-bottom: 3px solid $corail;
            color: white;
        }
        }
      }
  }

  // MEDIA QUERIES \\
  @media screen and (min-width: 641px) {
    .menu-burger, .burger-button {
      display: none;
    }
  }
  @media screen and (min-width: 200px) and (max-width: 640px) {

    // Cache le menu principal pour le remplacer par l'icone du burger menu \\
    .menu-container {
      display: none;
    }
    .burger-button {
      display: block;
      color: white;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      z-index: 100;
    }
    #close-button {
      z-index: 150;
      display: block;
      color: white;
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }
    
    // Classes d'affichage et masquage du menu

    .hide {
      display: none;
    }

    .show {
      display: block;
    }


    // ECRAN MENU RESPONSIVE \\
    .menu-burger {
      z-index: 101;
      background: $fond url(./../../img/background.png) no-repeat top center / cover;
      width: 100vw;
      height: 100vh;
      padding-top: 50%;
      position: fixed;
      text-align: center;
      .coord-menu-cv {
        font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 0.2rem;
        padding-top: 5rem;
      }
      ul {
        padding-left: 0;
      }
      li {
        list-style-type: none;
        text-transform: uppercase;
        margin-top: 1.5rem;
      }
      .menu-item {
          a {
            display: inline;
            font-family: Montserrat-Bold, Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 0.2rem;
            color: white;
            padding: 0 0 0.3rem 0 !important;
            margin: 1rem;
            border-bottom: 3px solid transparent;
            transition-duration: 1s;
            text-transform: center;
            &:hover{
              border-bottom: 3px solid $corail;
              color: white;
          }
          }
        }
        .sociaux-burger {
            color: $corail;
            font-size: 1.2rem;
            &:hover {
              color: $turquoise;
            }
        }
    }
  }