.accueil-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    .hide {
        display: none !important;
    }
    .profession {
        font-family: Montserrat-Light, Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 0.73rem;
        margin-top: 1rem;
        width: 400px !important;
    }
    .accueil-gauche {
        width: 50%;
    }
    .accueil-droit {
        width: 50%;
    } 
}

  // MEDIA QUERIES \\
  @media screen and (min-width: 200px) and (max-width: 640px) {

      .accueil-container {
          width: 320px;
          display: block !important;
          padding-top: 5rem;
          .logo {
              width: 300px;

          }
          .profession {
              font-size: 0.6rem;
          }
          .accueil-droit img {
              width: 320px;
          }
      }

  }