.liste-realisations {
    margin-bottom: 2rem;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $turquoise-clair;
        }
    }
}

.realisations {
    display: flex;
    flex-direction: row;
    align-items: center;

    .realisation-gauche {
        text-align: center;
        width: 50%;
        .btn-realisation {
            margin-top: 4rem;
        }
    }
    .realisation-droit {
        width: 50%;
        height: 100vh;
        z-index: 0;

    }

}

.test {
    position: absolute;
    bottom: 0;
}